html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    width: 9.688rem;
    background-color: #f15a29;
    color: white;
    font-size: 1.125rem;
    border-color: #f15a29;

}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
	height: 4.35rem;
	margin: 0 auto;
    width: 970px;
	padding: 0px 15px;
	box-sizing: border-box;
	color: #838994;
	letter-spacing: 0.03em;
	}

.top-navigation .logo {
    border-style: none;
    height: 4.25rem;
    margin-left: 7rem;
}

.top-navigation .links {
	float: right;
    color: #838994;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-right: -6rem;
    -webkit-font-smoothing: antialiased;

}

.top-navigation .links li {
	display: inline-block;
	margin-left: 2em;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
    color: #333333;
}

/* Middle Section */
.introduction {
	background-image: url('../images/karma-background-image.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h3{
    font-weight: 300;
    font-size: 1.5rem;
}

.introduction p {
    color: white;
    text-align: center;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction button{
    text-align: center
    color: white;
    display: block;
    margin: auto;
}
.introduction button:hover {
    cursor: pointer;
    background-color: #d9400e;
    border-color: #cf3d0e;

}
.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;

}
.cases > .content {
    margin-top: 7.5rem;
}

.cases h1{
    text-align: center;
    color: #1d1e21;
    display: block;
    margin: auto;
    font-weight: 300;
    order: 1;
    margin-bottom: 2em;
}
.cases .devices {
    width: 33%;
    display: inline-block;
    border: 1px solid black;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 4em;
    order: 2;
    margin-right: -.25rem;
}

.cases .content ul{
    list-style:  none;
    text-align: center;
    
}

.cases .content ul li{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5em;
}

.cases .content h3 {
    text-align: center;
    color: #1d1e21;
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.social{
    text-align: center;
    background-color: #fff;
    margin: 4rem;
}

.social ul {
    display: inline-block;
}

.social ul li{
    list-style: none;
    display: inline-block;
    color: lightskyblue;
    margin-right: 1rem;
}
.social .join {
    padding-left: 3rem;
    font-weight: 400;
}
hr { 
    display: block;
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
} 
.social .KMinc {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}